.alerta1 {
  text-align: center;
  background-color: #080808;
  min-height: 2vh;
  min-width: 210vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(15px);
  color: white;
}

.alerta2 {
  text-align: center;
  background-color: #080808;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px);
  color: white;
}

.contato {
  text-align: left;
  background-color: #080808;
  min-height: 2vh;
  min-width: 210vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(15px);
  color: white;
  margin-left: auto;
}
